// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$temp: 'black';

// color
$color-yellow: yellow;
$color-inputBorder: white;
$color-main1: #5e5e5f;
$color-sub1: #a7a7a7;
$color-main2: #1a1a1a;
// $color-main2: #3f4040;
$color-main3: #272625;
$color-link: #b2b3b4;
$color-codebackground: #2b2b2b;
$color-font: #c9d1d9;

$color-border-green: #056106;
// shape
$main-radius: 0.4rem;
$hacker-border: 1px solid $color-border-green;

//size

$header-height: 3rem;
$footer-height: $header-height;
$sidebar-width: 12rem;
$title-font-size: 3rem;
$title-bottom-padding: 2rem;
