// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$temp: 'black';

// color
$color-yellow: yellow;
$color-inputBorder: black;
$color-main1: #5e5e5f;
$color-sub1: #a7a7a7;
$color-main2: #3f4040;
$color-main3: #272625;

// shape
$main-radius: 0.4rem;

//size

$header-height: 3rem;
$footer-height: $header-height;
$sidebar-width: 16rem;
